body {
  font-family: "DM Sans", sans-serif;
  font-weight: normal;
  color: #222222;
  cursor: default; }

.titles {
  font-family: "Rosario", sans-serif;
  font-weight: bold;
  font-size: calc(40px + 30 * ((100vw - 320px) / 1120));
  line-height: 1.29; }

.paragraph_text {
  color: #555555;
  font-size: calc(16px + 2 * ((100vw - 320px) / 1120));
  line-height: 1.67; }

.btn-now {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  color: #222222;
  display: inline-block;
  border: none;
  padding: 0;
  transition: all 0.2s ease-in; }
  .btn-now:focus {
    box-shadow: none; }
  .btn-now:active:focus {
    box-shadow: none; }
  .btn-now:hover, .btn-now:active {
    color: #09A66D;
    background-color: transparent; }
    .btn-now:hover:after, .btn-now:active:after {
      opacity: 0.8; }
  .btn-now:after {
    content: url("../images/icons/arrow.png");
    width: 64px;
    height: 64px;
    line-height: 64px;
    background-color: #09A66D;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    transition: opacity 0.2s ease-in; }

.btn-od {
  padding: 0 23px;
  height: 40px;
  background: #09A66D;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  line-height: 40px;
  transition: background-color 0.3s ease-in; }
  .btn-od:hover {
    background-color: rgba(27, 194, 133, 0.75); }

.bg-od {
  background-color: #F3FBF8;
  width: 40px;
  height: 40px;
  border-radius: 50%; }
  .bg-od img {
    transition: transform 0.2s ease-in; }
  .bg-od:hover img {
    transform: scale(1.1); }

.leaves {
  width: 100%;
  max-width: 612px;
  height: 100%;
  max-height: 408px;
  background: url(../images/fresh-melientha-suavis-pierre-leaves-white-surface_51524-12145-removebg-preview.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain; }

a.after:after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #09A66D;
  border-radius: 50%;
  position: absolute;
  top: 7px;
  right: 14px; }

@media screen and (max-width: 768px) {
  .border-top {
    border-top: none !important; } }

header .navbar-brand {
  position: absolute;
  left: 50%; }
  @media screen and (max-width: 991px) {
    header .navbar-brand {
      position: static; } }
header .navbar-light .navbar-nav .nav-link {
  color: #222222; }

.fruit_vegetables {
  background-color: #F3FBF8; }
  .fruit_vegetables .leaves {
    left: -80px;
    top: -140px; }
    @media screen and (max-width: 991px) {
      .fruit_vegetables .leaves {
        top: -80px; } }
  .fruit_vegetables .specifications {
    background-color: white;
    transition: box-shadow 0.3s ease-in; }
    @media screen and (max-width: 575px) {
      .fruit_vegetables .specifications {
        width: 32%; } }
    .fruit_vegetables .specifications:hover {
      box-shadow: 5px 5px 7px #09a626; }
    .fruit_vegetables .specifications h3 {
      font-size: calc(25px + 23 * ((100vw - 320px) / 1120));
      line-height: 1;
      color: #000000; }
    .fruit_vegetables .specifications p {
      font-size: calc(10px + 8 * ((100vw - 320px) / 1120));
      line-height: 1.67;
      color: #000000; }
    .fruit_vegetables .specifications .specifications_icon {
      background-color: #F3FBF8;
      width: 64px;
      height: 64px;
      line-height: 64px;
      border-radius: 50%; }
      .fruit_vegetables .specifications .specifications_icon img {
        width: 32px;
        height: 32px; }
      @media screen and (max-width: 575px) {
        .fruit_vegetables .specifications .specifications_icon {
          width: 32px;
          height: 32px;
          line-height: 32px; }
          .fruit_vegetables .specifications .specifications_icon img {
            width: 16px;
            height: 16px; } }

.we_best .arrow:before {
  content: url("../images/icons/arrow_gr.svg");
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateY(31px); }
.we_best .servise {
  transition: box-shadow 0.3s ease-in; }
  .we_best .servise h4 {
    font-weight: bold;
    font-size: calc(18px + 2 * ((100vw - 320px) / 1120));
    line-height: 1.5; }
  .we_best .servise p {
    font-size: 14px;
    line-height: 1.43;
    color: #555555; }
  .we_best .servise:hover {
    box-shadow: 0 0 17px #75ba75; }
  .we_best .servise .servise_icon {
    background-color: #F3FBF8;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%; }
    .we_best .servise .servise_icon img {
      width: 40px;
      height: 40px; }
  .we_best .servise.bg-ods {
    background-color: #F3FBF8; }
    .we_best .servise.bg-ods .servise_icon {
      background-color: white; }

.special_items {
  background-color: rgba(9, 166, 109, 0.05); }
  .special_items .special_items-text {
    z-index: 1; }
  .special_items .leaves {
    bottom: -20px;
    right: -190px; }

.reviews .titles {
  position: absolute;
  z-index: 2; }
  @media screen and (max-width: 1199px) {
    .reviews .titles {
      top: 10px; } }
  @media screen and (max-width: 991px) {
    .reviews .titles {
      position: static; } }
.reviews h4 {
  font-weight: 500;
  font-size: calc(24px + 6 * ((100vw - 320px) / 1120));
  line-height: 1.2; }
.reviews .reit img {
  width: 23px;
  height: 23px; }
.reviews .owl-carousel .reviews_owl-content-text {
  width: 50%; }
  @media screen and (max-width: 767px) {
    .reviews .owl-carousel .reviews_owl-content-text {
      width: 100%;
      order: 2; } }
.reviews .owl-carousel .reviews_owl-content-photo {
  width: 42%; }
  @media screen and (max-width: 575px) {
    .reviews .owl-carousel .reviews_owl-content-photo {
      display: none; } }
.reviews .owl-carousel .owl-nav {
  position: absolute;
  bottom: -16px;
  left: 25%; }
  @media screen and (max-width: 991px) {
    .reviews .owl-carousel .owl-nav {
      left: 35%; } }
  @media screen and (max-width: 575px) {
    .reviews .owl-carousel .owl-nav {
      left: 58%; } }
  .reviews .owl-carousel .owl-nav .owl-prev {
    width: 56px;
    height: 56px;
    border: 1px solid #CCCCCC;
    border-radius: 50%;
    background-color: transparent;
    margin-right: 26px; }
    .reviews .owl-carousel .owl-nav .owl-prev span {
      display: none; }
    @media screen and (max-width: 575px) {
      .reviews .owl-carousel .owl-nav .owl-prev {
        margin-right: 10px; } }
    .reviews .owl-carousel .owl-nav .owl-prev:hover:before {
      transform: scale(1.7); }
    .reviews .owl-carousel .owl-nav .owl-prev:before {
      content: url("../images/icons/arrow_nav.svg");
      display: inline-block;
      width: 32px;
      height: 32px;
      vertical-align: middle;
      transition: transform 0.2s ease-in; }
  .reviews .owl-carousel .owl-nav .owl-next {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #09A66D; }
    .reviews .owl-carousel .owl-nav .owl-next span {
      display: none; }
    .reviews .owl-carousel .owl-nav .owl-next:hover:before {
      transform: scale(1.7); }
    .reviews .owl-carousel .owl-nav .owl-next:before {
      content: url("../images/icons/arrow_naw-white.svg");
      display: inline-block;
      width: 32px;
      height: 32px;
      vertical-align: middle;
      transition: transform 0.2s ease-in; }

.app .app_btn {
  font-size: 18px;
  line-height: 18px;
  color: #333333;
  background: #F3FBF8;
  border-radius: 50px;
  text-decoration: none;
  display: inline-block;
  padding: 11px 24px; }
.app .last_photo {
  left: 41px;
  top: -32px; }

footer h5 {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.29; }
footer a {
  font-size: 18px;
  line-height: 1.28;
  color: #555555; }
footer ul a {
  text-decoration: none; }

/*# sourceMappingURL=styles.css.map */
