@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Rosario:wght@700&display=swap');
@import "bootstrap.min.css";
@import "owl.carousel.min.css";
@import "owl.theme.default.min.css";

$main_font: 'DM Sans', sans-serif;
$rosario_font: 'Rosario', sans-serif;

$color_text: #555555;
$green_color: #09A66D;
$gray_green: #F3FBF8;

body{
  font-family: $main_font;
  font-weight: normal;
  color: #222222;
  cursor: default;
}

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}
//Адаптивный шрифт
$maxWidth: 1440;
@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

//Доп. классы
.titles{
  font-family: $rosario_font;
  font-weight: bold;
  @include adaptiv-font(70,40);
  line-height: 1.29;
}
.paragraph_text{
  color: $color_text;
  @include adaptiv-font(18,16);
  line-height: 1.67;
}
.btn-now{
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  color: #222222;
  display: inline-block;
  border: none;
  padding: 0;
  transition: all 0.2s ease-in;
  &:focus{
    box-shadow: none;
  }
  &:active{
    &:focus{
      box-shadow: none;
    }
  }
  &:hover, &:active{
    color: $green_color;
    background-color: transparent;
    &:after{
      opacity: 0.8;
    }
  }
  &:after{
    content: url("../images/icons/arrow.png");
    width: 64px;
    height: 64px;
    line-height: 64px;
    background-color: $green_color;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    transition: opacity 0.2s ease-in;
  }
}
.btn-od{
  padding: 0 23px;
  height: 40px;
  background: $green_color;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  line-height: 40px;
  transition: background-color 0.3s ease-in;
  &:hover{
    background-color: rgba(27,194,133,0.75);
  }
}
.bg-od{
  background-color: $gray_green;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  img{
    transition: transform 0.2s ease-in;
  }
  &:hover{
    img{
      transform: scale(1.1);
    }
  }
}
.leaves{
  width: 100%;
  max-width: 612px;
  height: 100%;
  max-height: 408px;
  background: url(../images/fresh-melientha-suavis-pierre-leaves-white-surface_51524-12145-removebg-preview.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
}
a.after:after{
  content: "";
  width: 6px;
  height: 6px;
  background-color: $green_color;
  border-radius: 50%;
  position: absolute;
  top: 7px;
  right: 14px;
}
.border-top{
  @include max-screen(768px){
    border-top: none!important;
  }
}
#scroll_top{
  background-color: $green_color;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  margin: 30px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s;
  z-index: 1000;
  display: none;
  text-decoration: none;
  &:hover{
    cursor: pointer;
    background-color: #333;
  }
  &:active{
    background-color: #555;
  }
  &:after{
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  &.show_scroll{
    display: inline-block;
  }
}

header{
  .navbar-brand {
    position: absolute;
    left: 50%;
    &:hover{
      animation: photo 3s 1;
    }
    @include max-screen(991px){
      position: static;
    }
  }
  .navbar-light .navbar-nav .nav-link{
    color: #222222;
  }
}
#fruit_vegetables{
  background-color: $gray_green;
  h1{
    animation: text 3s 1;
    & + p{
      animation: text 3s 1;
    }
  }
  .leaves{
    left: -80px;
    top: -140px;
    @include max-screen(991px){
      top: -80px;
      max-height: 330px;
    }
  }
  .specifications{
    background-color: white;
    transition: box-shadow 0.3s ease-in;
    @include max-screen(575px){
      width: 32%;
    }
    &:hover{
      box-shadow: 0 0 10px rgba(23, 35, 25, 0.85);
      .specifications_icon{
        transform: scale(1.1) scaleZ(1) rotateX(25deg) rotateY(0);
      }
    }
    h3{
      @include adaptiv-font(48,25);
      line-height: 1;
      color: #000000;
      font-weight: normal;
    }
    p{
      @include adaptiv-font(18,10);
      line-height: 1.67;
      color: #000000;
    }
    .specifications_icon{
      background-color: $gray_green;
      width: 64px;
      height: 64px;
      line-height: 64px;
      border-radius: 50%;
      transition: all 0.3s ease;
      img{
        width: 32px;
        height: 32px;
      }
      @include max-screen(575px){
        width: 32px;
        height: 32px;
        line-height: 32px;
        img{
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}
#we_best {
  .arrow {
    &:hover{
      &:before{
        background-color: $gray_green;
        box-shadow: 0 0 10px black;
      }
    }
    &:before {
      content: url("../images/icons/arrow_gr.svg");
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateY(35px);
      width: 55px;
      height: 55px;
      background-color: transparent;
      border-radius: 50%;
      align-items: center;
      text-align: center;
      line-height: 78px;
      transition: all 0.3s ease-in;
    }
  }
  .servise{
    h4{
      font-weight: bold;
      @include adaptiv-font(20,18);
      line-height: 1.5;
    }
    p{
      font-size: 14px;
      line-height: 1.43;
      color: $color_text;
    }
    transition: box-shadow 0.3s ease-in;
    &:hover{
      box-shadow: 0 0 17px #75ba75;
      .servise_icon{
        transform: scale(1.1) scaleZ(1) rotateX(25deg) rotateY(0);
      }
    }
    .servise_icon{
      background-color: $gray_green;
      width: 80px;
      height: 80px;
      line-height: 80px;
      border-radius: 50%;
      transition: all 0.3s ease;
      img{
        width: 40px;
        height: 40px;
      }
    }
    &.bg-ods{
      background-color: $gray_green;
      .servise_icon{
        background-color: white;
      }
    }
  }
}
#special_items{
  background-color: rgba(9, 166, 109, 0.05);
  .special_items-text{
    z-index: 1;
  }
  .leaves{
    bottom: -20px;
    right: -190px;
  }
}
#reviews{
  .titles{
    position: absolute;
    z-index: 2;
    @include max-screen(1199px){
      top: 10px;
    }
    @include max-screen(991px){
      position: static;
    }
  }
  h4{
    font-weight: 500;
    @include adaptiv-font(30,24);
    line-height: 1.2;
  }
  .reit{
    img{
      width: 23px;
      height: 23px;
    }
  }
  .reviews_owl-content-photo{
    .reviews_all{
      max-width: 245px;
      width: 100%;
      border-radius: 12px;
      background: #FFFFFF;
      box-shadow: -15px 15px 25px rgba(0, 96, 60, 0.04);
      bottom: 15px;
      padding: 12px 0 12px 20px;
      .photo_rew{
        img{
          width: 32px;
          height: 32px;
          display: inline-block;
          transition: transform 0.3s ease-in;
          &:nth-child(2){
            left: -12px;
          }
          &:nth-child(3){
            left: -24px;
          }
          &:nth-child(4){
            left: -36px;
          }
          &:nth-child(5){
            left: -48px;
          }
          &:nth-child(6){
            left: -60px;
          }
          + a{
            left: -72px;
          }
          &:hover{
            transform: scale(1.1);
          }
        }
        a{
          width: 32px;
          height: 32px;
          line-height: 32px;
          text-align: center;
          border-radius: 50%;
          background-color: $gray_green;
          color: #000000;
          transition: transform 0.3s ease-in;
          display: inline-block;
          &:hover{
            transform: scale(1.1);
          }
        }
      }
      .reit{
        img{
          width: 15px;
          height: 15px;
        }
      }
    }
  }
  .owl-carousel{
    .reviews_owl-content-text{
      width: 50%;
      @include max-screen(767px){
        width: 100%;
        order: 2;
      }
    }
    .reviews_owl-content-photo{
      width: 42%;
      @include max-screen(575px){
        display: none;
      }
    }
    .owl-nav{
      position: absolute;
      bottom: -16px;
      left: 25%;
      @include max-screen(991px){
        left: 35%;
      }
      @include max-screen(575px){
        left: 58%;
      }
      .owl-prev{
        span{
          display: none;
        }
        width: 56px;
        height: 56px;
        border: 1px solid #CCCCCC;
        border-radius: 50%;
        background-color: transparent;
        margin-right: 26px;
        @include max-screen(575px){
          margin-right: 10px;
        }
        &:hover{
          &:before{
            transform: scale(1.7);
          }
        }
        &:before{
          content: url("../images/icons/arrow_nav.svg");
          display: inline-block;
          width: 32px;
          height: 32px;
          vertical-align: middle;
          transition: transform 0.2s ease-in;
        }
      }
      .owl-next{
        span{
          display: none;
        }
        width: 56px;
        height: 56px;
        border-radius: 50%;
        background-color: $green_color;
        &:hover{
          &:before{
            transform: scale(1.7);
          }
        }
        &:before{
          content: url("../images/icons/arrow_naw-white.svg");
          display: inline-block;
          width: 32px;
          height: 32px;
          vertical-align: middle;
          transition: transform 0.2s ease-in;
        }
      }
    }
  }
}
#app{
  .app_btn{
    font-size: 18px;
    line-height: 18px;
    color: #333333;
    background: $gray_green;
    border-radius: 50px;
    text-decoration: none;
    display: inline-block;
    padding: 11px 24px;
    transition: box-shadow 0.3s ease-in;
    &:hover{
      box-shadow: 0 0 10px black;
    }
  }
  .last_photo{
    left: 41px;
    top: -32px;
  }
}
footer{
  h5{
    font-weight: 500;
    font-size: 24px;
    line-height: 1.29;
  }
  a{
    font-size: 18px;
    line-height: 1.28;
    color: $color_text;
  }
  .logo{
    &:hover{
      animation: photo 2s 1;
    }
  }
  ul{
    a{
      text-decoration: none;
    }
  }
}

@keyframes text{
  0%{
    transform: translate(0, 120px);
    opacity:0;
    transition: all 0.8s ease;
  }
  100%{
    transform: translate(0,0);
    opacity:1;
    transition: all 0.8s ease;
  }
}
@keyframes photo {
  0%{
    //transform: rotateY(0);
    transform: rotateX(0) rotateY(0) rotateZ(0);
    transition: all 0.8s ease;
  }
  50%{
    transform: rotateX(15deg) rotateY(180deg) rotateZ(-8deg);
    //transition: all 0.8s ease;
  }
  100%{
    transform: rotateX(0) rotateY(360deg) rotateZ(0);
    transition: all 0.8s ease;
  }
}




