@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Rosario:wght@700&display=swap");
@import url(bootstrap.min.css);
@import url(owl.carousel.min.css);
@import url(owl.theme.default.min.css);
body {
  font-family: "DM Sans", sans-serif;
  font-weight: normal;
  color: #222222;
  cursor: default; }

.titles {
  font-family: "Rosario", sans-serif;
  font-weight: bold;
  font-size: calc(40px + 30 * ((100vw - 320px) / 1120));
  line-height: 1.29; }

.paragraph_text {
  color: #555555;
  font-size: calc(16px + 2 * ((100vw - 320px) / 1120));
  line-height: 1.67; }

.btn-now {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  color: #222222;
  display: inline-block;
  border: none;
  padding: 0;
  transition: all 0.2s ease-in; }
  .btn-now:focus {
    box-shadow: none; }
  .btn-now:active:focus {
    box-shadow: none; }
  .btn-now:hover, .btn-now:active {
    color: #09A66D;
    background-color: transparent; }
    .btn-now:hover:after, .btn-now:active:after {
      opacity: 0.8; }
  .btn-now:after {
    content: url("../images/icons/arrow.png");
    width: 64px;
    height: 64px;
    line-height: 64px;
    background-color: #09A66D;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    transition: opacity 0.2s ease-in; }

.btn-od {
  padding: 0 23px;
  height: 40px;
  background: #09A66D;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  line-height: 40px;
  transition: background-color 0.3s ease-in; }
  .btn-od:hover {
    background-color: rgba(27, 194, 133, 0.75); }

.bg-od {
  background-color: #F3FBF8;
  width: 40px;
  height: 40px;
  border-radius: 50%; }
  .bg-od img {
    transition: transform 0.2s ease-in; }
  .bg-od:hover img {
    transform: scale(1.1); }

.leaves {
  width: 100%;
  max-width: 612px;
  height: 100%;
  max-height: 408px;
  background: url(../images/fresh-melientha-suavis-pierre-leaves-white-surface_51524-12145-removebg-preview.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain; }

a.after:after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #09A66D;
  border-radius: 50%;
  position: absolute;
  top: 7px;
  right: 14px; }

#scroll_top {
  background-color: #09A66D;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  margin: 30px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s;
  z-index: 1000;
  display: none;
  text-decoration: none; }
  @media screen and (max-width: 991px) {
    #scroll_top {
      width: 30px;
      height: 30px;
      margin: 10px;
      bottom: 0;
      right: 0; } }
  #scroll_top:hover {
    cursor: pointer;
    background-color: #333; }
  #scroll_top:active {
    background-color: #555; }
  #scroll_top:after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff; }
    @media screen and (max-width: 991px) {
      #scroll_top:after {
        line-height: 30px;
        font-size: 1.5rem; } }
  #scroll_top.show_scroll {
    display: inline-block; }

@media screen and (min-width: 768px) {
  .border-top {
    border-top: none !important; } }

header .navbar-brand {
  position: absolute;
  left: 50%; }
  header .navbar-brand:hover {
    animation: photo 3s 1; }
  @media screen and (max-width: 991px) {
    header .navbar-brand {
      position: static; } }
header .navbar-light .navbar-nav .nav-link {
  color: #222222; }

#fruit_vegetables {
  background-color: #F3FBF8; }
  @media screen and (max-width: 767px) {
    #fruit_vegetables .paragraph_text br {
      display: none; } }
  #fruit_vegetables h1 {
    animation: text 3s 1; }
    #fruit_vegetables h1 + p {
      animation: text 3s 1; }
  #fruit_vegetables .leaves {
    left: -80px;
    top: -140px; }
    @media screen and (max-width: 991px) {
      #fruit_vegetables .leaves {
        top: -80px;
        max-height: 330px; } }
  #fruit_vegetables .specifications {
    background-color: white;
    transition: box-shadow 0.3s ease-in; }
    @media screen and (max-width: 575px) {
      #fruit_vegetables .specifications {
        width: 32%; } }
    #fruit_vegetables .specifications:hover {
      box-shadow: 0 0 10px rgba(23, 35, 25, 0.85); }
      #fruit_vegetables .specifications:hover .specifications_icon {
        transform: scale(1.1) scaleZ(1) rotateX(25deg) rotateY(0); }
    #fruit_vegetables .specifications h3 {
      font-size: calc(25px + 23 * ((100vw - 320px) / 1120));
      line-height: 1;
      color: #000000;
      font-weight: normal; }
    #fruit_vegetables .specifications p {
      font-size: calc(10px + 8 * ((100vw - 320px) / 1120));
      line-height: 1.67;
      color: #000000; }
    #fruit_vegetables .specifications .specifications_icon {
      background-color: #F3FBF8;
      width: 64px;
      height: 64px;
      line-height: 64px;
      border-radius: 50%;
      transition: all 0.3s ease; }
      #fruit_vegetables .specifications .specifications_icon img {
        width: 32px;
        height: 32px; }
      @media screen and (max-width: 575px) {
        #fruit_vegetables .specifications .specifications_icon {
          width: 32px;
          height: 32px;
          line-height: 32px; }
          #fruit_vegetables .specifications .specifications_icon img {
            width: 16px;
            height: 16px; } }

@media screen and (max-width: 767px) {
  #we_best .paragraph_text br {
    display: none; } }
#we_best .servise {
  transition: box-shadow 0.3s ease-in; }
  #we_best .servise h4 {
    font-weight: bold;
    font-size: calc(18px + 2 * ((100vw - 320px) / 1120));
    line-height: 1.5; }
  #we_best .servise p {
    font-size: calc(12px + 2 * ((100vw - 320px) / 1120));
    line-height: 1.43;
    color: #555555; }
    @media screen and (max-width: 575px) {
      #we_best .servise p br {
        display: none; } }
  #we_best .servise:hover {
    box-shadow: 0 0 17px #75ba75; }
    #we_best .servise:hover .servise_icon {
      transform: scale(1.1) scaleZ(1) rotateX(25deg) rotateY(0); }
  #we_best .servise .servise_icon {
    background-color: #F3FBF8;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    flex-shrink: 0;
    transition: all 0.3s ease; }
    @media screen and (max-width: 575px) {
      #we_best .servise .servise_icon {
        width: 50px;
        height: 50px;
        line-height: 50px; } }
    #we_best .servise .servise_icon img {
      width: 40px;
      height: 40px; }
      @media screen and (max-width: 575px) {
        #we_best .servise .servise_icon img {
          width: 25px;
          height: 25px; } }
  #we_best .servise.bg-ods {
    background-color: #F3FBF8; }
    #we_best .servise.bg-ods .servise_icon {
      background-color: white; }

#special_items {
  background-color: rgba(9, 166, 109, 0.05); }
  #special_items .special_items-text {
    z-index: 1; }
  #special_items .leaves {
    bottom: -20px;
    right: -190px; }

#reviews .titles {
  position: absolute;
  z-index: 2; }
  @media screen and (max-width: 1199px) {
    #reviews .titles {
      top: 10px; } }
  @media screen and (max-width: 991px) {
    #reviews .titles {
      position: static; } }
#reviews h4 {
  font-weight: 500;
  font-size: calc(24px + 6 * ((100vw - 320px) / 1120));
  line-height: 1.2; }
#reviews .reit img {
  width: 23px;
  height: 23px; }
#reviews .reviews_owl-content-photo .reviews_all {
  max-width: 245px;
  width: 100%;
  border-radius: 12px;
  background: #FFFFFF;
  box-shadow: -15px 15px 25px rgba(0, 96, 60, 0.04);
  bottom: 15px;
  padding: 12px 0 12px 20px; }
  #reviews .reviews_owl-content-photo .reviews_all .photo_rew img {
    width: 32px;
    height: 32px;
    display: inline-block;
    transition: transform 0.3s ease-in; }
    #reviews .reviews_owl-content-photo .reviews_all .photo_rew img:nth-child(2) {
      left: -12px; }
    #reviews .reviews_owl-content-photo .reviews_all .photo_rew img:nth-child(3) {
      left: -24px; }
    #reviews .reviews_owl-content-photo .reviews_all .photo_rew img:nth-child(4) {
      left: -36px; }
    #reviews .reviews_owl-content-photo .reviews_all .photo_rew img:nth-child(5) {
      left: -48px; }
    #reviews .reviews_owl-content-photo .reviews_all .photo_rew img:nth-child(6) {
      left: -60px; }
    #reviews .reviews_owl-content-photo .reviews_all .photo_rew img + a {
      left: -72px; }
    #reviews .reviews_owl-content-photo .reviews_all .photo_rew img:hover {
      transform: scale(1.1); }
  #reviews .reviews_owl-content-photo .reviews_all .photo_rew a {
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    background-color: #F3FBF8;
    color: #000000;
    transition: transform 0.3s ease-in;
    display: inline-block; }
    #reviews .reviews_owl-content-photo .reviews_all .photo_rew a:hover {
      transform: scale(1.1); }
  #reviews .reviews_owl-content-photo .reviews_all .reit img {
    width: 15px;
    height: 15px; }
#reviews .owl-carousel .reviews_owl-content-text {
  width: 50%; }
  @media screen and (max-width: 767px) {
    #reviews .owl-carousel .reviews_owl-content-text {
      width: 100%;
      order: 2; } }
#reviews .owl-carousel .reviews_owl-content-photo {
  width: 42%; }
  @media screen and (max-width: 575px) {
    #reviews .owl-carousel .reviews_owl-content-photo {
      display: none; } }
#reviews .owl-carousel .owl-nav {
  position: absolute;
  bottom: -16px;
  left: 25%; }
  @media screen and (max-width: 991px) {
    #reviews .owl-carousel .owl-nav {
      left: 35%; } }
  @media screen and (max-width: 575px) {
    #reviews .owl-carousel .owl-nav {
      left: 58%; } }
  #reviews .owl-carousel .owl-nav .owl-prev {
    width: 56px;
    height: 56px;
    border: 1px solid #CCCCCC;
    border-radius: 50%;
    background-color: transparent;
    margin-right: 26px; }
    #reviews .owl-carousel .owl-nav .owl-prev span {
      display: none; }
    @media screen and (max-width: 575px) {
      #reviews .owl-carousel .owl-nav .owl-prev {
        margin-right: 10px; } }
    #reviews .owl-carousel .owl-nav .owl-prev:hover:before {
      transform: scale(1.7); }
    #reviews .owl-carousel .owl-nav .owl-prev:before {
      content: url("../images/icons/arrow_nav.svg");
      display: inline-block;
      width: 32px;
      height: 32px;
      vertical-align: middle;
      transition: transform 0.2s ease-in; }
  #reviews .owl-carousel .owl-nav .owl-next {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #09A66D; }
    #reviews .owl-carousel .owl-nav .owl-next span {
      display: none; }
    #reviews .owl-carousel .owl-nav .owl-next:hover:before {
      transform: scale(1.7); }
    #reviews .owl-carousel .owl-nav .owl-next:before {
      content: url("../images/icons/arrow_naw-white.svg");
      display: inline-block;
      width: 32px;
      height: 32px;
      vertical-align: middle;
      transition: transform 0.2s ease-in; }

@media screen and (max-width: 1199px) {
  #app .paragraph_text br {
    display: none; } }
#app .app_btn {
  font-size: 18px;
  line-height: 18px;
  color: #333333;
  background: #F3FBF8;
  border-radius: 50px;
  text-decoration: none;
  display: inline-block;
  padding: 11px 24px;
  transition: box-shadow 0.3s ease-in; }
  #app .app_btn:hover {
    box-shadow: 0 0 10px black; }
#app .last_photo {
  left: 41px;
  top: -32px; }

footer .social .facebook {
  transition: color 0.3s ease-in; }
  footer .social .facebook:hover {
    color: #1878f3; }
footer .social .twitter {
  transition: color 0.3s ease-in; }
  footer .social .twitter:hover {
    color: #1da1f2; }
footer .social .instagram {
  transition: color 0.3s ease-in; }
  footer .social .instagram:hover {
    color: #efc100; }
footer h5 {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.29; }
footer a {
  font-size: 18px;
  line-height: 1.28;
  color: #555555; }
footer .logo:hover {
  animation: photo 2s 1; }
footer ul a {
  text-decoration: none; }

@keyframes text {
  0% {
    transform: translate(0, 120px);
    opacity: 0;
    transition: all 0.8s ease; }
  100% {
    transform: translate(0, 0);
    opacity: 1;
    transition: all 0.8s ease; } }
@keyframes photo {
  0% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
    transition: all 0.8s ease; }
  50% {
    transform: rotateX(15deg) rotateY(180deg) rotateZ(-8deg); }
  100% {
    transform: rotateX(0) rotateY(360deg) rotateZ(0);
    transition: all 0.8s ease; } }

/*# sourceMappingURL=styles.css.map */
